body {
}

#container {
    max-width: 736px;
    margin: 0 auto;
}

.header {
    margin-top: 3rem;
    text-align: center;
}

.header .button-wrap {
    margin-top: 15px;
}

a {
    text-decoration: none;
}

