    <section class="icons">
        <div class="container">
            <div class="content">
                <a href="//github.com/sangdol" target="_blank" rel="noopener"><img class="icon" src="/img/github.svg" alt="github" /></a>
                <a href="//stackoverflow.com/users/524588/sanghyun-lee" target="_blank" rel="noopener"><img class="icon" src="/img/stackoverflow.svg" alt="stackoverflow" /></a>
                <a href="//twitter.com/iamsangcom" target="_blank" rel="noopener"><img class="icon" src="/img/twitter.svg" alt="twitter" /></a>
                <a href="//linkedin.com/in/sanghyun-lee-b1129151" target="_blank" rel="noopener"><img class="icon" src="/img/linkedin.svg" alt="linkedin" /></a>
                <a href="mailto:hammerha+iamsang-en@gmail.com"><img class="icon" src="/img/email.svg" alt="email" /></a>
                <a href="/rss.xml"><img class="icon" src="/img/rss.svg" alt="rss" /></a>
            </div>
        </div>
    </section>
