    <section class="en-top">
        <div class="logo">
            <img src="/icon-192x192.png" width="48" alt="icon" class="logo"/>
        </div>
        <div>
            <nav class="nav">
                <span class="name">Sanghyun Lee</span>
                <span class="menu">
                    <a href="/"><span>Home</span></a>
                    <a href="https://twitter.com/iamsangcom"><span>Twitter</span></a>
                </span>
            </nav>
        </div>
    </section>
    <hr class="top-line-en">
    <section class="header">
        <div class="container">
            <div class="content">
                <div class="name">
                    I am
                    <span class="colored" style="font-weight:100">Sang</span>
                </div>
            </div>
        </div>
    </section>