    <section class="top">
        <nav class="nav">
            <a href="/"><span>Home</span></a>
            <a href="/en"><span>Posts</span></a>
            <a href="/en-about"><span>About</span></a>
            <a href="https://twitter.com/iamsangcom"><span>Twitter</span></a>
        </nav>
    </section>
    <hr class="top-line">
    <section class="header">
        <div class="container">
            <div class="content">
                <div class="name">
                    I am
                    <span class="colored" style="font-weight:100">Sang</span>
                </div>
            </div>
        </div>
    </section>
