    <section class="top">
        <nav>
            <a href="/"><span>Home</span></a>
<!--            <a href="/about"><span>About</span></a>-->
<!--            <a href="/popular"><span>Popular</span></a>-->
<!--            <a href="https://twitter.com/iamsangcom"><span>Twitter</span></a>-->
        </nav>
    </section>
    <hr class="top-line">
    <section class="header">
        <div class="container">
            <div class="content">
                <a href="/">
                    <div class="name">
                        Sanghyun Lee
                    </div>
                </a>
            </div>
        </div>
    </section>