<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>{{blog-title}}</title>
    {{&common-head}}
</head>
<body>
<div id="home" class="container article">
    <div>
        <img src="/icon-192x192.png" alt="icon" class="logo"/>
    </div>
    <div>
        My name is Sanghyun Lee.
    </div>

    <div>
        I'm a software engineer from South Korea and living in Berlin at the moment.
    </div>

    <div>
        I write and draw about software related topics in
        <a href="/blog">Korean</a>
        and
        <a href="/en">English</a>.
    </div>
</div>
</body>
</html>
