<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>{{blog-title}}</title>
    {{&common-head}}
</head>
<body>
{{&common-header}}
<div class="container list">
    <div class="content">
        <ul class="no-padding-left">
            {{#articles}}
            <li class="post-item">
                <a href="/en/{{url-path}}" class="title"><span>{{title}}</span></a>
                <span class="meta">
                    <time>{{dateStr}}</time>
                </span>
            </li>
            {{/articles}}
        </ul>
    </div>
</div>
<div class="en-footer">
    {{&common-footer}}
</div>
</body>
</html>
