    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index,follow">
    <meta name="description" content="{{description}}">
    <meta name="twitter:title" content="{{title}}" />
    <meta name="twitter:description" content="{{description}}" />
    <meta name="twitter:creator" content="@sangdolha" />

    {{#images}}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="https://iamsang.com/{{.}}" />
    {{/images}}
    {{^images}}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:image" content="https://iamsang.com/ogimage.png" />
    {{/images}}

    {{#images}}
    <meta property="og:image" content="https://iamsang.com/{{.}}" />
    {{/images}}
    {{^images}}
    <meta property="og:image" content="https://iamsang.com/ogimage.png" />
    {{/images}}

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>
    <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      document.querySelectorAll('pre code').forEach((block) => {
        hljs.highlightBlock(block);
      });
    });
    </script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Ubuntu+Mono:400,400i,700,700i|Raleway:500">
    <link href="/css/normalize.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/sakura.css">
    <link href="/css/custom.css" rel="stylesheet">
    <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
            h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
            (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
            })(window,document.documentElement,'async-hide','dataLayer',4000,
            {'GTM-PGRQWF8':true});
    </script>
    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-23501808-2', 'auto');
          ga('require', 'GTM-PGRQWF8');
          ga('send', 'pageview');

    </script>
    <script>
    /**
    * Function that captures a click on an outbound link in Analytics.
    * This function takes a valid URL string as an argument, and uses that URL string
    * as the event label. Setting the transport method to 'beacon' lets the hit be sent
    * using 'navigator.sendBeacon' in browser that support it.
    */
    var captureOutboundLink = function(url) {
       ga('send', 'event', 'outbound', 'click', url, {
         'transport': 'beacon'
       });
    }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    // capturing outbound link
    $(function () {
      $('a[href^="https:"]:not(a[href^="https://' + document.location.hostname + '"])').click(function () {
        captureOutboundLink($(this).attr('href'));
      });
    });

    // new window for outbound link
    $(function () {
      $('a[href^="https:"]:not(a[href^="https://' + document.location.hostname + '"])').attr('target', '_blank');
    });

    console.log("안녕하세요, 이상현입니다. 제 블로그에 있는 html, css, js 등은 그냥 가져다 쓰셔도 됩니다. 좋은 하루 되세요.")
    </script>