    <section class="signup">
        <div class="container2">
            <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup">
                <form action="https://hjparenting.us17.list-manage.com/subscribe/post?u=8abdd78f471e341ecbf00840c&amp;id=423c9920d1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">

                        <div class="mc-field-group">
                            <input placeholder="이메일 주소" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"><input type="submit" value="블로그 구독" name="subscribe" id="mc-embedded-subscribe" class="subscribe button">
                        </div>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8abdd78f471e341ecbf00840c_423c9920d1" tabindex="-1" value=""></div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section class="icons">
        <div class="container">
            <div class="content">
                <a href="//github.com/sangdol" target="_blank" rel="noopener"><img class="icon" src="/img/github.svg" alt="github" /></a>
                <a href="//stackoverflow.com/users/524588/sanghyun-lee" target="_blank" rel="noopener"><img class="icon" src="/img/stackoverflow.svg" alt="stackoverflow" /></a>
                <a href="//twitter.com/sangdolha" target="_blank" rel="noopener"><img class="icon" src="/img/twitter.svg" alt="twitter" /></a>
                <a href="//linkedin.com/in/sang-hyun-lee-b1129151/" target="_blank" rel="noopener"><img class="icon" src="/img/linkedin.svg" alt="linkedin" /></a>
                <a href="mailto:hammerha+iamsang-kr@gmail.com"><img class="icon" src="/img/email.svg" alt="email" /></a>
                <a href="/index.xml"><img class="icon" src="/img/rss.svg" alt="rss" /></a>
            </div>
        </div>
    </section>