    <section class="top">
        <nav>
            <a href="/"><span>Home</span></a>
            <a href="/about"><span>About</span></a>
            <a href="/popular"><span>Popular</span></a>
            <a href="/subscribe"><span>Subscribe</span></a>
            <a href="https://twitter.com/sangdolha"><span>Twitter</span></a>
        </nav>
    </section>
    <hr class="top-line">
    <section class="header">
        <div class="container">
            <div class="content">
                <a href="/">
                    <div class="name">
                        이상현
                        <span class="colored" style="font-weight:100">in</span>
                        <span style="font-weight:300">베를린</span>
                    </div>
                </a>
            </div>
        </div>
    </section>